* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

/* HEADER */
.header {
  background: #000;
  padding: 15px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 55px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background: rgb(27, 74, 43);
  color: #fff;
  padding: 90px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

.hero .sub {
  margin-top: 8px;
  opacity: 0.9;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

/* PRODUCTS */
.products {
  padding: 60px 20px;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 25px;
  border-left: 5px solid rgb(27, 74, 43);
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

/* CONTACT */
.contact {
  background: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

.whatsapp {
  background: #25D366;
  color: #000;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* MOBILE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 30px;
  }

  nav a {
    margin-left: 12px;
    font-size: 14px;
  }
}
.map {
  padding: 50px 20px;
  text-align: center;
}

.map iframe {
  width: 90%;
  height: 350px;
  border: none;
}

.product-card button {
  margin-top: 15px;
  padding: 10px;
  background: rgb(27, 74, 43);
  color: white;
  border: none;
  cursor: pointer;
}
